<ion-header>
  <div class="headWrap">
    <div class="logoWrap"><div class="logo"></div></div>
    <div class="insWrap">
      <div class="iconB"><a href="home"><img src="/assets/icon/icon-home.png" /></a></div>
      <div class="searchB">
        <div class="searchB-l"><input type="text" [(ngModel)]="search" class="sInput" placeholder="Search"></div>
        <div class="searchB-r"><button type="submit" class="searchBtn" (click)="searchPost()"></button></div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>

  <nav>
    <ul>
      <li><a href="home" class="active">RECENT POST</a></li>
      <li><a href="category">CATEGORY</a></li>
    </ul>
  </nav>
  <section class="postlist">
    <ul *ngFor="let d of data" >
      <ion-input [(ngModel)]="category" type="hidden" style="display: none;"></ion-input>
      <li (click)='getPostDetails(d.category_id)'>
        <span> {{d.category_name}}</span>
      </li>

    </ul>
  </section>



</ion-content>
